[project]
name = "balsam-lm-evaluation"
version = "0.1.0"
requires-python = ">=3.9,<4"
dependencies = [
  "lm-eval[openai,api]~=0.4.9.2",
  "pyyaml~=6.0.3",
  "google-cloud-storage~=3.8.0",
  "six~=1.17.0",
  "nltk~=3.9.2",
  "pyarabic~=0.6.15",
  "google-generativeai~=0.8.6",
  "deepeval~=3.8.0",
  "python-dotenv~=1.2.1",
]

[tool.pytest.ini_options]
pythonpath = [".", "src/"]

[tool.coverage.run]
omit = ["__init__.py", "tests/*", "*/tests/*"]

[tool.coverage.report]
skip_empty = true

[tool.yapf]
based_on_style = "google"
indent_width = 4

[tool.yapfignore]
ignore_patterns = ["venv", "build", "dist"]
